<?xml version="1.0" encoding="utf-8"?>
<!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="colouredConsole" xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${time}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true}${newline}${message}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" backgroundColor="DarkGray"  />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="debugFile" xsi:type="File"
        layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
        fileName="${basedir}/logs/debug.log" keepFileOpen="false" encoding="iso-8859-2" />
    <target name="prodFile" xsi:type="File"
        layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
        fileName="${basedir}/logs/prod.log" keepFileOpen="false" encoding="iso-8859-2" />

    <target xsi:type="AsyncWrapper"
          name="traceFileAsync"
          queueLimit="10000"
          timeToSleepBetweenBatches="50"
          batchSize="100"
          overflowAction="Discard">
      <target name="traceFile" xsi:type="File"
          layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
          fileName="${basedir}/logs/trace.log" keepFileOpen="false" encoding="iso-8859-2" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="colouredConsole" />

    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="debugFile" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="prodFile" />
    <logger name="GTS.*" minlevel="Trace"  maxlevel="Trace" writeTo="traceFile" final="true" />
  </rules>
</nlog>